* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    align-items: left;
    text-align: left;
}

.equation {
    margin: 40px 30px;
}

#type-equation {
    font-weight: 700;
    font-size: 1.1rem;
    color: black;
    padding-bottom: 5px;
}

#equation-for {
    font-weight: 500;
    font-size: large;
    font-size: 1.1rem;
    padding-left: 30px;
    color: black;
    padding-bottom: 10px;
}

#equation {
    padding-left: 50px;
    padding-bottom: 15px;
    font-size: larger;
    transition: 0.45s ease-in-out;
}

#no-equation {
    padding-left: 40px;
}

.equation-input {
    padding-left: 50px;
    width: 550px;
    color: black;
}

.equation-input .div {
    padding: 5px;
}

.input-line {
    padding-bottom: 5px;
}

#num-input {
    width: 100px;
    height: 20;
    text-align: left;
    padding-left: 3px;
    border-radius: 10px;
    border-color: rgb(99, 99, 99);
    border-style: solid;
    transition: 0.25s ease-in-out;
}


/* #num-input:hover {
    border-color: rgb(218, 0, 0);
    border-style: solid;
    width: 120px;
    height: 25px;
    padding-left: 5px;
    padding-top: 0px;
    font-size: large;
} */

#output {
    border-radius: 20px;
    padding-left: 10px;
}

#answer {
    padding: auto;
    color: blueviolet;
    padding-top: 10px;
    font-weight: 600;
    transition: 0.2s ease-out;
}

#answer:hover {
    padding: auto;
    color: rgb(155, 38, 234);
    padding-top: 10px;
    font-weight: 600;
    font-size: x-large;
}

mjx-container {
    text-align: left !important;
}